{% extends 'base.html' %}
{% block title %}Blogs{% endblock title %}
{% block body %}
{% load static %}
      <!-- Services Section -->
      <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
        <h2>Welcome To My Blogs</h2>
        </div>


        <div class="row gy-4">

            {% for post in posts reversed %}
            <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">

                    <div class="col-lg-4" data-aos="fade-right">
                    <img src="{{post.img.url}}" class="img-fluid" alt="">
                    </div>
                    <br>

            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
                <h4 class="title"><a href="">{{post.title}}</a></h4>
                <p class="description">{{post.description}}</p>
                <h6>Posted By : <b>{{post.authname}}</b></h6>
                <p>Posted On : <b>{{post.timeStamp}}</b></p>
            </div>
            </div>

            {% endfor %}




  
          </div>
  
  
      </section><!-- /Services Section -->
{% endblock body %}
    
    

